th #{n}
td 
  p(class="u#{n}0") 
    span #{n}0
td 
  p(class="u#{n}1") 
    span #{n}1
td 
  p(class="u#{n}2") 
    span #{n}2
td 
  p(class="u#{n}3") 
    span #{n}3
td 
  p(class="u#{n}4") 
    span #{n}4
td 
  p(class="u#{n}5") 
    span #{n}5
td 
  p(class="u#{n}6") 
    span #{n}6
td 
  p(class="u#{n}7") 
    span #{n}7
td 
  p(class="u#{n}8") 
    span #{n}8
td 
  p(class="u#{n}9") 
    span #{n}9
td 
  p(class="u#{n}A") 
    span #{n}A
td 
  p(class="u#{n}B") 
    span #{n}B
td 
  p(class="u#{n}C") 
    span #{n}C
td 
  p(class="u#{n}D") 
    span #{n}D
td 
  p(class="u#{n}E") 
    span #{n}E
td 
  p(class="u#{n}F") 
    span #{n}F